{% extends "admin_base.html" %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row h-100">

            <!-- sidebar nav-->
            <div class="col-lg-1 col-md-1 bg-info">
                <ul class= "mt-5">
                    <li class= "mt-5">Dashboard</li>
                    <li class= "mt-5">Uploads</li>
                    <li class= "mt-5">Uploads</li>
                </ul>
            </div>

            <div class="col-lg-10">

            </div>  


        </div>
    </div>




{% endblock content %}


