{% extends 'base.html' %}

{% block body_id %} 
    {{ super() }}
    class = 'home_body'

{% endblock body_id %}

{% block content %}

    <div class="container">
        <div class="row home-row">
            <div class="jumbotron bg-transparent vertical-center w-75 h-50 my-auto mx-auto ">
                    <!-- loop throughtthe all gallery pictures-->            
                    {% for pics in allpics %}
                       
                        <di class="row">
                            <div class="col-lg-3">
                                <img src="{{ url_for('static', filename = 'files/')}}{{ pics }} "  class="img-fluid" alt="Responsive image"/>
                            </div>
                            <div class="col-lg-3">
                                <img src="{{ url_for('static', filename = 'files/')}}{{  pics }} "  class="img-fluid" alt="Responsive image"/>
                            </div>
                            <div class="col-lg-3">
                                <img src="{{ url_for('static', filename = 'files/')}}{{ pics }} "  class="img-fluid" alt="Responsive image"/>
                            </div>
                        </di>


                    {% endfor %}
           
            </div>
        </div>

    </div>

{%  endblock content %}

