{% extends "admin_base.html" %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row h-100">

            <!-- sidebar nav-->
            <div class="col-lg-1 col-md-1 bg-info">
                <ul class= "list-group">
                    <li class= "list-group-item mt-5 text-left">
                        <a href="{{ url_for('auth.dashboard') }}">Dashboard</a>    
                    </li>
                    <li class= "list-group-item mt-5 text-left">
                        <a href="{{ url_for('auth.upload') }}">Upload</a>    
                    </li>
                
            </div>

            <div class="col-lg-10">
          
            </div>  

        </div>
    </div>




{% endblock content %}


