{% extends "admin_base.html" %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row h-100">

            <!-- sidebar nav-->
            <div class="col-lg-1 col-md-1 bg-info">
                <ul class= "list-group">
                    <li class= "list-group-item mt-5 text-left">
                        <a href="{{ url_for('auth.dashboard') }}">Dashboard</a>    
                    </li>
                    <li class= "list-group-item mt-5 text-left">
                        <a href="{{ url_for('auth.upload') }}">Upload</a>    
                    </li>
                
            </div>

            <div class="col-lg-10">
                {{ form.hidden_tag() }}
                <fieldset class="form-group m-auto w-75">
                    <legend class="border-bottom">Upload Pictures Here</legend>                        
                    <div class="form-group">
                        {{ form.picname.label(class= "h6 form-control-label") }}
                        {{ form.picname(class= "form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.category.label(class= "h6 form-control-label") }}
                        {{ form.category(class= "form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.file(class= "form-control btn btn-block") }}
                    </div>    
                    
                </fieldset>

            </form>
            </div>  

        </div>
    </div>




{% endblock content %}


